<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="/favicon.ico?v=<%= htmlWebpackPlugin.options.favid %>">
    <title><%= htmlWebpackPlugin.options.pkg.name %></title>
    <base href="<%= htmlWebpackPlugin.options.publicPath %>">
  </head>
  <body>
    <div id='root'>Loading...</div>
  </body>
</html>
